= hidden_field_tag :step, 1 + @step
- (params[:answers] || []).each do |name, answer|
  = hidden_field_tag "answers[#{name}]", answer
- @items[question].each do |value, text|
  .radio
    %label
      = radio_button_tag "answers[#{question}]", value, (value == params.dig(:answers, question.to_sym).try(:to_i)), data: {action: "parti-enable-submit-button", 'parti-submit-button': '#step-submit'}
      %span= text
