%a#anchor
%h2.text-center 예측 결과

.result
  %h3.thin 당신이 투표할 후보의 정당이 맞나요?
  %h3 맞다면 공유해 보세요!
  .shares
    = link_to 'twitter', "https://twitter.com/intent/tweet?#{{url: "http://datavote.kr/socail_cards/#{@file_name}", text: '당신도 모르는 당신의 투표를 예측해 드립니다 http://datavote.kr'}.to_query}", class: 'btn-twitter', target: '_blank'
    = link_to 'facebook', "https://www.facebook.com/dialog/feed?#{{app_id: 1570267049950803, display: 'popup', caption: '당신도 모르는 당신의 투표를 예측해 드립니다', redirect_uri: 'http://datavote.kr', link: 'http://datavote.kr', picture: "http://datavote.kr/socail_cards/#{@file_name}"}.to_query}", class: 'btn-facebook', target: '_blank'
    = link_to 'kakao', "https://story.kakao.com/share?#{{url: 'http://datavote.kr'}.to_query}", class: 'btn-kakao', target: '_blank'
  %ul
    %li
      .pull-right
        지지할 확률
        %span.percentage
          #{number_with_precision(@seanuri*100, precision: 2)}%
      %h3
        %strong 새누리당
        후보
    %li
      .pull-right
        지지할 확률
        %span.percentage
          #{number_with_precision(@theminju*100, precision: 2)}%
      %h3
        %strong 더불어민주당
        후보
    %li
      .pull-right
        지지할 확률
        %span.percentage
          #{number_with_precision(@kookmin*100, precision: 2)}%
      %h3
        %strong 국민의당
        후보
    %li
      .pull-right
        지지할 확률
        %span.percentage
          #{number_with_precision(@etc*100, precision: 2)}%
      %h3
        %strong 정의당
        후보
    %li
      .pull-right
        지지할 확률
        %span.percentage
          #{number_with_precision(@d_day*100, precision: 2)}%
      %h3
        %strong 투표당일 결정
        %br
        %small 타정당 및 무소속 포함
    %li
      .pull-right
        %span.percentage
          #{@vote_rate}%
      %h3
        %strong 당신이 투표할 확률
