%p 이름 #{@name}
%ul
  %li
    새누리
    = @seanuri
  %li
    더민주
    = @theminju
  %li
    국민의당
    = @kookmin
  %li
    정의당
    = @etc
  %li
    투표당일 지지정당후보 결정
    = @d_day
  %li
    투표확률
    = @vote_rate
