= render 'navigation', step: @step

%h2.number 질문 #{@step}.
%h2 귀하는 북핵 문제를 어떻게 풀어가는 것이 좋다고 생각하십니까?

= form_tag 'next_step', remote: true do
  = render 'question', question: :north_korea
  = submit_tag '다음으로 >', class: 'btn-next btn-block', disabled: true, id: 'step-submit'


