= render 'navigation', step: @step

%h2.number 질문 #{@step}.
%h2 귀하는 20대 총선과 관련하여 현재 어떤 상태입니까?

= form_tag 'next_step', remote: true do
  = render 'question', question: :party
  = submit_tag '다음으로 >', class: 'btn-next btn-block', disabled: true, id: 'step-submit'

