= render 'navigation', step: @step

%h2.number 질문 #{@step}.
%h2 귀하는 우리나라 역대 대통령 중 누구를 가장 좋아하십니까?

= form_tag 'result', remote: true do
  = render 'question', question: :present
  .row.btns
    .col-xs-6
      = submit_tag '< 이전으로', class: 'btn-back btn-block', name: 'back'
    .col-xs-6
      = button_tag '다음으로 >', class: 'btn-next btn-block', disabled: params.dig(:answers, :present).blank?, id: 'step-submit', data: { disable_with: '예측 중 <i class="fa fa-spinner fa-pulse"></i>' }
