= render 'navigation', step: @step

%h2.number 질문 #{@step}.
%h2 귀하 앞에, 총선기사를 실은 신문이 있다면 어느 신문을 먼저 집으시겠습니까?

= form_tag 'next_step', remote: true do
  = render 'question', question: :news_paper
  = submit_tag '< 이전으로', class: 'btn-next btn-block', name: 'back'
  = submit_tag '다음으로 >', class: 'btn-next btn-block', disabled: params.dig(:answers, :news_paper).blank?, id: 'step-submit'

