%section#intro-section
  .container
    = image_tag 'intro.png', alt: '당신도 모르는 당신의 투표를 예측해 드립니다'
    = link_to '', '#vote-section', class: 'btn-down'

%section#vote-section
  .container
    .action-body
      = render 'step0_body'

%section#contributors-section
  .container
    .row
      .col-xs-4
        = link_to 'https://www.facebook.com/hankyoreh21', target: '_blank' do
          = image_tag 'logo-h21.png', class: 'logo-h21'
      .col-xs-4.text-center
        = link_to 'http://fb.com/parti.xyz/', target: '_blank' do
          = image_tag 'logo-parti.png', class: 'logo-parti'
      .col-xs-4.text-right
        = link_to 'http://news.joins.com/reporter/1684', target: '_blank' do
          = image_tag 'logo-choi.png', class: 'logo-choi'