!!!
%html{:lang => I18n.locale}
  %head
    %meta{:charset => "utf-8"}
    %link{:href => "http://fonts.googleapis.com/earlyaccess/notosanskr.css", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag asset_data_base64('application.css'), media: 'all'
    :css
      body {
        background: none;
        padding: 0;
        margin: 0;
      }
      * { font-family: 'Noto Sans KR'; }
  %body
    .social-card{ style: "background-image: url(#{asset_data_base64('bg-social-card.png')});" }
      .intro
        %span.thin
          당신도
          %br
          모르는
        %br
        %span.name 당신의
        %br
        %span.name> 투표
        를
        %br
        예측한
        %br
        결과
      %ul
        %li
          .pull-right
            지지할 확률
            %span.percentage
              #{number_with_precision(@seanuri*100, precision: 2)}%
          %h3
            새누리당 후보
        %li
          .pull-right
            지지할 확률
            %span.percentage
              #{number_with_precision(@theminju*100, precision: 2)}%
          %h3
            더불어민주당 후보
        %li
          .pull-right
            지지할 확률
            %span.percentage
              #{number_with_precision(@kookmin*100, precision: 2)}%
          %h3
            국민의당 후보
        %li
          .pull-right
            지지할 확률
            %span.percentage
              #{number_with_precision(@etc*100, precision: 2)}%
          %h3
            정의당 후보
        %li
          .pull-right
            지지할 확률
            %span.percentage
              #{number_with_precision(@d_day*100, precision: 2)}%
          %h3
            투표당일 결정
            %br
            %small 타정당 및 무소속 포함
        %li
          .pull-right
            %span.percentage
              #{@vote_rate}%
          %h3
            당신이 투표할 확률
